* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: rgb(241, 241, 241);
}

.gallery__container{
    width: 150vw;
    height: 150vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery {
    height: 100%;
    position: relative;
    transition: transform .1s ease-out;
    padding: 10rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    position: absolute;
    overflow: hidden;
    transition: height 0.5s ease;
    max-width: 20vw;
}

.item:nth-child(3){
    z-index: 1;
}

.item:nth-child(6){
    z-index: 1;
}

.item:nth-child(8){
    z-index: 1;
}